exportPattern("^[[:alpha:]]+")

#Export the app function
export(correct)

#Export the HR correction function
export(HR_Correction)

#Import the shiny functions
import(shiny)

#Import the shinydashboard functionality
import(shinydashboard)
